.ParticipantVotePanel button {
    width: 100%;
}

.ParticipantVotePanel-locked .ParticipantVotePanel-voteBtn {
    background-color: #aaa;
    color: black;
}

.ParticipantVotePanel-locked .ParticipantVotePanel-voteBtn:hover {
    background-color: #bbb;
}

.ParticipantVotePanel-locked .ParticipantVotePanel-voteBtn:active {
    background-color: #ccc;
}

.ParticipantVotePanel-photo {
    transition: filter 0.3s ease-in-out;
}

.ParticipantVotePanel-locked .ParticipantVotePanel-photo {
    filter: blur(5px);
}