.GameScreen {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.GameScreen-header {
    margin: 10px;
    flex: 10;
}

.GameScreen-header h1, .GameScreen-header h4{
    margin: 0px;
}

.GameScreen button {
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    background-color: #1E76FB;
    color: white;
}

.GameScreen button:hover {
    background-color: #246DDB;
}

.GameScreen button:active {
    background-color: #2055b8;
    color: #ddd;
}

.GameScreen-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.GameScreen-votepanel {
    width: 30vw;
    min-width: 200px;
    flex-shrink: 0;
}

.GameScreen-middle {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    min-width: 15vw;
    margin: 10px 30px;
}

.GameScreen .ParticipantVotePanel {
    min-width: 200px;
}

.GameScreen .ParticipantVotePanel-photo
{
    height: 30vw;
    min-height: 200px;
}

@media screen and (max-width: 600px) {
    .GameScreen-content {
        flex-direction: column;
    }

    .GameScreen-middle {
        flex-direction: row;
    }

    .GameScreen-votepanel, .GameScreen-votepanel .ParticipantVotePanel {
        min-width: 175px;
    }

    .GameScreen-votepanel .ParticipantVotePanel-photo
    {
        min-height: 175px;
    }
}

@media screen and (max-width: 400px) {
    .GameScreen-votepanel, .GameScreen-votepanel .ParticipantVotePanel {
        min-width: 130px;
    }

    .GameScreen-votepanel .ParticipantVotePanel-photo
    {
        min-height: 130px;
    }

    .GameScreen .ParticipantVotePanel button {
        height: 30px;
        font-size: 14px;
    }
}