.App {
  height: 100%;
  width: 100%;
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.GameController-restart button {
  height: 50px !important;
  width: 50px !important;
  margin: 5px;
}
