.ParticipantPhoto, .ParticipantPhoto-photo, .ParticipantPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.ParticipantPhoto {
    background-color: #ccc;
}

.ParticipantPhoto-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ParticipantPhoto img {
    opacity: 0;
}